# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: RunTest
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...

deploy:
 name: DockerBuild
 runs-on: ubuntu-latest
   needs: test
   if: startsWith(github.ref, 'refs/tags')
   steps:
     - name: Checkout
       uses: actions/checkout@v6

     - name: Set up Docker buildx
       uses: docker/setup-buildx-action@v3.11.1

     - name: Log in to Docker Hub
       uses: docker/login-action@v3.6.0
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

     - name: Extract metadata (tags, labels) for Docker
       id: meta
       uses: docker/metadata-action@v5.9.0
       with:
         images: dmakhonin/12final

     - name: Build and push Docker Image
       uses: docker/build-push-action@v6.9.0
       with:
         context: .
         push: true
         tags: ${{ steps.meta.outputs.tags }}
         labels: ${{ steps.meta.outputs.labels }}